<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assests/style/userDashboard_css/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Playfair+Display:wght@700&family=Roboto+Slab:wght@200;300&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">

    <title>userDashboard</title>

    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>
    <div class="main container-fluid d-flex m-0 p-0 ">
        
        <%- include('../common/adminDashboardSidebar.ejs',{user:user,item:'myReviews'})%>

      
        <div class="contents container-fluid m-0 p-0" style="margin-left: 300px !important">
            <%- include('../common/headingData.ejs',{user:user,page:"My Dashboard"})%>
            <div class="row m-0 p-0 d-flex justify-content-center ps-3 pe-3">
                <div class="col-12">
                    <div class="card mainReviewsList p-2 border-0 pb-4">
                        <div class="row m-0 p-0 pb-2 ">
                            <h3 class="fs-5">Reviews</h3>
                            <p class="text-secondary">Showing 1-6 of 28 results</p>
                        </div>
                        <div
                            class="reviewsItem row m-0 p-0 pb-4 pt-4 border border-bottom-0 border-start-0 border-end-0">
                            <div class="col-3 w-auto overflow-hidden d-flex align-items-center justify-content-start">
                                <img src="../../images/adminDashboard/userImg.jpg" alt="" class="rounded-circle">
                            </div>
                            <div class="col-10 m-0 p-0 ps-3">
                                <h3 class="fs-6 m-0 p-0 fw-bold">Grand Plaza Serviced Apartments</h3>
                                <div class="ratingStar row m-0 p-0 align-items-center">
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>

                                    <p class="m-0 p-0 ps-2 text-secondary w-auto">April 5,2021</p>
                                </div>
                                <p class="text-secondary m-0 pt-3">
                                    Our stay was pleasant and welcoming. We stayed in an apartment meant for 3 adults
                                    with kitchen facilities. The cleaning services were superp. We liked the laundry and
                                    kitchen cleaning services on top of the regular cleaning services.
                                </p>
                            </div>
                        </div>
                        <div
                            class="reviewsItem row m-0 p-0 pb-4 pt-4 border border-bottom-0 border-start-0 border-end-0">
                            <div class="col-3 w-auto overflow-hidden d-flex align-items-center justify-content-start">
                                <img src="../../images/adminDashboard/userImg.jpg" alt="" class="rounded-circle">
                            </div>
                            <div class="col-10 m-0 p-0 ps-3">
                                <h3 class="fs-6 m-0 p-0 fw-bold">Grand Plaza Serviced Apartments</h3>
                                <div class="ratingStar row m-0 p-0 align-items-center">
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>

                                    <p class="m-0 p-0 ps-2 text-secondary w-auto">April 5,2021</p>
                                </div>
                                <p class="text-secondary m-0 pt-3">
                                    Our stay was pleasant and welcoming. We stayed in an apartment meant for 3 adults
                                    with kitchen facilities. The cleaning services were superp. We liked the laundry and
                                    kitchen cleaning services on top of the regular cleaning services.
                                </p>
                            </div>
                        </div>
                        <div
                            class="reviewsItem row m-0 p-0 pb-4 pt-4 border border-bottom-0 border-start-0 border-end-0">
                            <div class="col-3 w-auto overflow-hidden d-flex align-items-center justify-content-start">
                                <img src="../../images/adminDashboard/userImg.jpg" alt="" class="rounded-circle">
                            </div>
                            <div class="col-10 m-0 p-0 ps-3">
                                <h3 class="fs-6 m-0 p-0 fw-bold">Grand Plaza Serviced Apartments</h3>
                                <div class="ratingStar row m-0 p-0 align-items-center">
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>

                                    <p class="m-0 p-0 ps-2 text-secondary w-auto">April 5,2021</p>
                                </div>
                                <p class="text-secondary m-0 pt-3">
                                    Our stay was pleasant and welcoming. We stayed in an apartment meant for 3 adults
                                    with kitchen facilities. The cleaning services were superp. We liked the laundry and
                                    kitchen cleaning services on top of the regular cleaning services.
                                </p>
                            </div>
                        </div>
                        <div
                            class="reviewsItem row m-0 p-0 pb-4 pt-4 border border-bottom-0 border-start-0 border-end-0">
                            <div class="col-3 w-auto overflow-hidden d-flex align-items-center justify-content-start">
                                <img src="../../images/adminDashboard/userImg.jpg" alt="" class="rounded-circle">
                            </div>
                            <div class="col-10 m-0 p-0 ps-3">
                                <h3 class="fs-6 m-0 p-0 fw-bold">Grand Plaza Serviced Apartments</h3>
                                <div class="ratingStar row m-0 p-0 align-items-center">
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>

                                    <p class="m-0 p-0 ps-2 text-secondary w-auto">April 5,2021</p>
                                </div>
                                <p class="text-secondary m-0 pt-3">
                                    Our stay was pleasant and welcoming. We stayed in an apartment meant for 3 adults
                                    with kitchen facilities. The cleaning services were superp. We liked the laundry and
                                    kitchen cleaning services on top of the regular cleaning services.
                                </p>
                            </div>
                        </div>
                        <div
                            class="reviewsItem row m-0 p-0 pb-4 pt-4 border border-bottom-0 border-start-0 border-end-0">
                            <div class="col-3 w-auto overflow-hidden d-flex align-items-center justify-content-start">
                                <img src="../../images/adminDashboard/userImg.jpg" alt="" class="rounded-circle">
                            </div>
                            <div class="col-10 m-0 p-0 ps-3">
                                <h3 class="fs-6 m-0 p-0 fw-bold">Grand Plaza Serviced Apartments</h3>
                                <div class="ratingStar row m-0 p-0 align-items-center">
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>

                                    <p class="m-0 p-0 ps-2 text-secondary w-auto">April 5,2021</p>
                                </div>
                                <p class="text-secondary m-0 pt-3">
                                    Our stay was pleasant and welcoming. We stayed in an apartment meant for 3 adults
                                    with kitchen facilities. The cleaning services were superp. We liked the laundry and
                                    kitchen cleaning services on top of the regular cleaning services.
                                </p>
                            </div>
                        </div>
                        <div
                            class="reviewsItem row m-0 p-0 pb-4 pt-4 border border-bottom-0 border-start-0 border-end-0">
                            <div class="col-3 w-auto overflow-hidden d-flex align-items-center justify-content-start">
                                <img src="../../images/adminDashboard/userImg.jpg" alt="" class="rounded-circle">
                            </div>
                            <div class="col-10 m-0 p-0 ps-3">
                                <h3 class="fs-6 m-0 p-0 fw-bold">Grand Plaza Serviced Apartments</h3>
                                <div class="ratingStar row m-0 p-0 align-items-center">
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>
                                    <i class="la la-star text-warning w-auto m-0 p-0"></i>

                                    <p class="m-0 p-0 ps-2 text-secondary w-auto">April 5,2021</p>
                                </div>
                                <p class="text-secondary m-0 pt-3">
                                    Our stay was pleasant and welcoming. We stayed in an apartment meant for 3 adults
                                    with kitchen facilities. The cleaning services were superp. We liked the laundry and
                                    kitchen cleaning services on top of the regular cleaning services.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row m-0 p-0 ps-3 align-items-center justify-content-center mt-3 pb-5">
                <div class="col-12">
                    <div class=" pagenation row m-0 p-0">
                        <div
                            class="col-2 w-auto rounded-circle p-2 m-0 ms-1 d-flex align-items-center justify-content-center">
                            <i class="la la-angle-left p-0 m-0 text-primary fs-4 "></i>
                        </div>

                        <div
                            class="w-auto rounded-circle  m-0 ms-1  p-2 ps-3 pe-3 d-flex align-items-center justify-content-center">
                            <p class="m-0 p-0 text-primary">1</p>
                        </div>
                        <div
                            class=" w-auto rounded-circle  m-0 ms-1  p-2 ps-3 pe-3 d-flex align-items-center justify-content-center">
                            <p class="m-0 p-0 text-primary">2</p>
                        </div>
                        <div
                            class=" w-auto rounded-circle  m-0 ms-1  p-2 ps-3 pe-3 d-flex align-items-center justify-content-center">
                            <p class="m-0 p-0 text-primary">3</p>
                        </div>
                        <div
                            class=" w-auto rounded-circle  m-0 ms-1  p-2  d-flex align-items-center justify-content-center">
                            <i class="la la-angle-right p-0 m-0 text-primary fs-4"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="../../assests/js/userDashboard_js/script.js"></script>
    <script src="../../assests/js/userDashboard_js/profileToolpit.js"></script>
    
</body>

</html>