<div class="sidebar container-fluid d-flex flex-column flex-shrink-0 p-3 text-dark bg-white m-0 position-fixed"
  style="width: 300px">
  <div class="author row align-items-center text-dark text-decoration-none m-0">
    <div class="profileImg rounded-5 overflow-hidden col-4 p-0 d-flex">
      <img src="../../images/userDashboard/userImg.jpg" alt="" />
    </div>
    <div class="userDetails col-8 pe-0">
      <h5>
        <%= user.name%>
      </h5>
      <p class="p-0 m-0">Member Since Dec,2023</p>
    </div>
  </div>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="dashBoard nav-item">
      <a href="/userRoutes/dashboard" class="nav-link text-dark">
        <i class="bi bi-speedometer2 me-2"></i>
        Dashboard
      </a>
    </li>
    <li class="myBooking nav-item">
      <a href="/userRoutes/myBooking" class="nav-link text-dark">
        <i class="bi bi-cart2 me-2"></i>
        My Booking
      </a>
    </li>
    <li class="myProfile nav-item">
      <a href="/userRoutes/myProfile" class="nav-link text-dark">
        <i class="bi bi-person me-2"></i>
        My Profile
      </a>
    </li>
    <li class="myReviews nav-item">
      <a href="/userRoutes/myReviews" class="nav-link text-dark">
        <i class="bi bi-star-fill me-2"></i>
        My Reviews
      </a>
    </li>
    <li class="wishlist nav-item">
      <a href="/userRoutes/wishlist" class="nav-link text-dark">
        <i class="bi bi-suit-heart-fill me-2"></i>
        Wishlist
      </a>
    </li>
    <li class="setting nav-item">
      <a href="/userRoutes/setting" class="nav-link text-dark">
        <i class="bi bi-gear me-2"></i> Settings
      </a>
    </li>
    <li class="logout nav-item">
      <a href="/userRoutes/" class="nav-link text-dark" style="--bs-icon-link-transform: rotate(45deg)">
        <i class="bi bi-power me-2"></i> Logout
      </a>
    </li>
  </ul>
</div>

<script>
  var NavLi = document.querySelectorAll('li');
  NavLi.forEach((element) => {
    var liItemName = element.classList[0];
    var activeItem = '<%= item %>';
    if(activeItem===liItemName){
      console.log(element.childNodes);
      element.childNodes[1].classList.add('active');
      element.childNodes[1].classList.add('text-light');
      element.childNodes[1].classList.remove('text-dark');
    }
  });
</script>