<!--================= Footer Section Start ==================-->
<footer class="container-fluid pt-5 pb-5">
    <div class="container ">
        <div class="row ">
            <div class="col-md-4 ">
                <img src="./images/home/logo.png " alt=" ">
                <div class="d-flex align-items-center mt-5 ">
                    <i class="bi bi-envelope text-white pe-4 fs-4 "></i>
                    <a href="mailto:haquedot@gmail.com "
                        class="text-white text-decoration-none fs-6 ">hibbanrahmanhyt@gmail.com</a>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="bi bi-telephone text-white pe-4 fs-4 "></i>
                    <a href="callto:7502461630 " class="text-white text-decoration-none fs-6 ">9973152523</a>
                </div>
                <div class="d-flexalign-items-center mb-5 ">
                    <i class="bi bi-house text-white pe-4 fs-4 "></i>
                    <a href=" " class="text-white text-decoration-none fs-6 ">MANUU, Hyderabad</a>
                </div>
            </div>
            <div class="d-blck col-md-4 ">
                <h4 class="text-white ">
                    USEFUL LINKS
                </h4>
                <div class="row ">
                    <div class="d-block col-6 mt-5 ">
                        <p class="text-white text-decoration-none fs-6 ">About Us</p>
                        <p class="text-white text-decoration-none fs-6 ">Rooms</p>
                        <p class="text-white text-decoration-none fs-6 ">Service</p>
                    </div>
                    <div class="d-block col-6 mt-5 mb-5 ">
                        <p class="text-white text-decoration-none fs-6 ">Contact</p>
                        <p class="text-white text-decoration-none fs-6 ">Gallery</p>
                        <p class="text-white text-decoration-none fs-6 ">Blog</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <h4 class="text-white ">
                    STAY IN TOUCH
                </h4>
                <div class="input-group mt-5 ">
                    <input type="text " class="form-control py-2 " placeholder="Enter your email "
                        aria-label="Recipient 's username" aria-describedby="button-addon2">
                    <button class="text-white border-0 px-4" type="button" id="button-addon2">Subscribe</button>
                </div>
                <div class="d-flex my-4">
                    <a href="">
                        <i class="bi bi-facebook text-white pe-4 fs-4"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-twitter-x text-white pe-4 fs-4"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-instagram text-white pe-4 fs-4"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-youtube text-white pe-4 fs-4"></i>
                    </a>
                </div>
            </div>
        </div>
        <hr class="text-white border-1">
        <div class="d-flex ">
            <i class="bi bi-c-circle text-white pe-2"></i>
            <p class="text-white">2023 HMZ. All Right Reserved.</p>
        </div>
    </div>
</footer>